@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background: url("../images/landing-background.jpg") no-repeat 0;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Rajdhani", sans-serif;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 150px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.box-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  color: #fff;
  text-align: center;
}
.box-left .logo > path {
  width: 100%;
  display: flex;
  justify-content: center;
}
.box-left .logo .logo-1 {
  width: auto;
  height: 100%;
  display: block;
  width: 28px;
  height: 40px;
  fill: #fff;
}
.heading-info-title {
  margin-top: 36px;
}
.heading-info-title h2 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.heading-info-title h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 6.5rem;
  font-weight: 900;
  line-height: 6.5rem;
  text-transform: uppercase;
}
.heading-info-text {
  font-weight: 500;
  font-size: 1.6rem;
  margin-inline: 100px;
  margin-top: 30px;
  line-height: 2.4rem;
}
.box-left .btn-slide {
  display: flex;
  border: 1px solid #fff;
  width: 65%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  margin-top: 90px;
  user-select: none;
}
.btn-login {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  background: #fff;
  flex: 1;
}
.btn-register {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  color: #333;
  text-decoration: none;
  flex: 1;
}
/* 
.box-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #fff;
  position: relative;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.box-form-log .logo-rocket img {
  background-size: cover;
  position: absolute;
  top: -69px;
  left: -120px;
}
.box-form-log {
  display: flex;
  flex-direction: column;
  padding: 64px;
  width: 100%;
  height: 100%;
}
.box-form-log h3 {
  font-size: 2.6rem;
  color: #3e3f5e;
  width: 100%;
  text-align: center;
}
.box-form-log .form {
  margin-top: 76px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.box-form-log .form .input-group {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box-form-log .form .input-group input {
  width: 100%;
  padding: 18px 10px;
  font-size: 1.6rem;
  border: 1px solid #dedeea;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.5s ease-in-out;
}
.input-group label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 15px;
  color: #777;
  background: #fff;
  padding: 5px;
  transition: 0.5s ease;
}
.box-form-log form input:focus + label {
  top: -3px;
  left: 8px;
}
.box-right .box-form-log .form input:focus {
  border-color: rgb(63, 77, 210);
}
.ticky {
  width: 100%;
  margin-top: 28px;
}
.ticky .ticky-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.box-right .ticky .check-box {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  position: relative;
  font-weight: 700;
}
.check-box::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid rgb(18, 49, 89);
  border-radius: 4px;
  margin-right: 10px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s ease;
}
.check-box::after {
  content: "✖";
  font-size: 1.5rem;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#remember:checked + .check-box::after {
  opacity: 1;
  background: rgb(38, 105, 239);
}
.ticky .check-box:hover {
  color: rgb(19, 49, 137);
}
.ticky .ticky-2 {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  position: relative;
  font-weight: 700;
}
.log-now {
  width: 100%;
  background: rgb(53, 48, 219);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 54px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 30px;
}
.log-now:hover {
  background: blue;
}
.line-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ccc;
  line-height: 0.1em;
  margin: 20px 0;
  font-size: 1.4rem;
  margin-top: 40px;
}
.line-text span {
  background: #fff;
  padding: 0 10px;
  font-size: 1.6rem;
}
.links {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links .app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 15px;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.links .fa-square-youtube {
  margin-right: 0;
}
.links .app:hover {
  transform: translateY(-10px);
}

.links .fa-square-facebook {
  background: #4568c0;
}

.links .fa-square-twitter {
  background: #42b6e8;
}
.links .fa-twitch {
  background: #6e52eb;
}
.box-right .links .fa-square-youtube {
  background: #a5333a;
} */
.box-right-reg {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #fff;
  position: relative;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.box-form-reg .logo-rocket img {
  background-size: cover;
  position: absolute;
  top: -69px;
  left: -120px;
}
.box-form-log {
  display: flex;
  flex-direction: column;
  padding: 64px;
  width: 100%;
  height: 100%;
}
.box-form-reg h3 {
  font-size: 26px;
  color: #3e3f5e;
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 50px;
}
.box-form-reg form {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box-form-reg form input {
  width: 100%;
  padding: 18px 10px;
  font-size: 16px;
  border: 1px solid #dedeea;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.5s ease-in-out;
}
.box-form-reg form label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 15px;
  color: #777;
  background: #fff;
  padding: 5px;
  transition: 0.5s ease;
}
