@media screen and (max-width: 1500px){
.container .box-left{
    left: 8%;
} 
.container .box-right{
    right: 100px;
}
.header .container .box-left .paragraph{
    margin-top: 10px;
}
.header .container .box-left .button{
    margin-top: 40px;
}

}
@media screen and (max-width: 1364.98px){

}
