form {
  position: relative;
  width: 300px;
  margin: 100px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


form input {
  width: 100%;
  padding: 18px 10px;
  font-size: 16px;
  border: 2px solid #aaa;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.5s;
}


form input:focus {
  border-color: #923fdc;
}


form label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 15px;
  color: #777;
  background: #fff;
  padding: 5px;
  transition: 0.5s ease;
}

form input:focus + label,
form input:not(:placeholder-shown) + label {
  top: -3px;
  left: 8px;
  color: #923fdc;
}
