label, input, span, textarea, select, progress{
  display: block;
  float: left;
  margin-bottom: 10px;
}
label{
  clear: left;
  width: 12em;
  text-align: right;
  margin-right: 10px;
}
fieldset{
  background: lightgrey;
  margin-bottom: 30px;
}
input[type="range"] {
  accent-color: rgb(181, 35, 35);
}
progress[name="breast"]{
  accent-color: green;
  width: 5em;
}
progress[name="upload"]{
  accent-color: rgb(173, 54, 54);
}
legend{
  padding-bottom: 10px;
}
form{
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
}

